<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://www.shawu.edu/Academics/Department_of_Humanities.aspx?id=2377" class="brand library-brand">Department of Humanities</a>
      <span id="desktop-secondary-navigation"></span>
      <a href="/" class="brand app-brand">#myshawu</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><li class=""><a href="/">Recent</a></li></a></li>
          <li><li><a href="/images/popular">Popular</a></li></li>
          <li><li><a href="/images/staff_picks">Prof Picks</a></li></li>
        </ul>
        <ul class="nav">
          <li class=""><li><a href="/thisorthat/battle">Battle</a></li></li>
          <li class=""><li class="active"><a href="/about">About</a></li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section id="about" class="wrapper">
    <div class="grid">
        <div class="well contribute grid-cell">
			<h1>Participating in <span class="projectname">#myshawu</span> is easy:</h1>
			<ol>
			  <li>Take a photo of Shaw University</li>
			  <li>Upload it to Instagram</li>
			  <li>Tag it #shaw150</li>
        <li>Add a comment that expresses that tells the story of your photo</li>
        <li>Go to <a href="http://www.myshawuniversity.com/thisorthat/battle">myshawuniversity.com</a> and vote for your favorite photos</li>
        <li>Stay tuned to <a href="http://www.shawu.edu/">shawu.edu</a> to see who wins and takes home some exciting prizes!</li>
			</ol>
			<h1>About the Project</h1>
			<p><span class="tag-line">Following the clouds.</p>
			<p>Put your stamp on the college experience at Shaw and honor Shaw’s legacy by adding your viewpoint and story. It’s all about how you see it, and how you want others to see us. You are the creators and the photographers of our shared history in the making.</p>
      <p>This project seeks to document Shaw University student life, past and present, and is a collaborative project shared amongst students, faculty, and alumni. At http://myshawuniversity.com you can vote on your favorite #myshawu photos, see popular images, browse professor picks, and more. The Humanities department will work with the appropriate units on campus to preserve the #shaw150 photos in an archive so they become a permanent part of Shaw University history.</p><br/>
			<p> Project Creator: Desiree Dighton, Assistant Professor of English, Shaw University</p>
			<p>Questions? Email: ddighton@shawu.edu</p>		
		</div>
	</div>
</section>

